@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	/* Fonts */
	--font-schaboo: "Schaboo", Arial, sans-serif;
	--font-inter: "Inter", Arial, sans-serif;
	/* --font-sans: var(--font-geist-sans); */
	/* --font-mono: var(--font-geist-mono); */
	/* Colors */
	--color-white: #dddddd;
	--color-red: #e10058;
	--color-blue: #5568be;
	--color-green: #1e895e;
	--color-clear-violet: #a082fd;
	--color-dark-violet: #6022cd;
	--color-grey: #8c8c8c;
	--color-clear-grey: #bab9b9;
	--color-dark-grey: #262626;
	--color-black: #141414;
	--color-yellow: #f6de52;

	/* Borders */
	--border-dark-grey: #262626;
}

@font-face {
	font-family: "Schaboo";
	src: url("/fonts/SCHABO-Condensed.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@layer components {
	.subtilte {
		@apply font-inter text-white tracking-normal text-sm md:text-base;
	}
}

@layer utilities {
	.bg-white-06 {
		background-color: rgba(255, 255, 255, 0.06);
	}
	.bg-white-04 {
		background-color: rgba(255, 255, 255, 0.04);
	}
	.bg-white-10 {
		background-color: rgba(255, 255, 255, 0.1);
	}
	.bg-white-20 {
		background-color: rgba(255, 255, 255, 0.2);
	}
	.bg-white-30 {
		background-color: rgba(255, 255, 255, 0.3);
	}
}

@layer base {
	h1 {
		@apply font-schaboo text-white text-5xl md:text-6xl;
	}
	h2 {
		@apply font-schaboo text-white text-2xl md:text-3xl;
	}
	h3 {
		@apply font-inter text-white tracking-normal font-semibold text-xl md:text-2xl;
	}
	p {
		@apply font-inter text-white tracking-normal text-base md:text-lg;
	}
}

body {
	background: url("/backgroudDesktop.jpg") no-repeat center center fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
	width: 100%;
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
